.titulo {
  text-align: center;
  margin: 4rem auto;
  padding: 6rem 1rem;
  background: linear-gradient(270deg, #ff7eb3, #ff758c, #7afcff, #feff9c);
  background-size: 800% 800%;
  animation: gradientBG 12s ease infinite;
  color: #fff;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titulo h1 {
  padding: 1rem 2rem;
  font-size: 3rem;
  margin-bottom: 1.25rem;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .titulo h1 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .titulo h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .titulo h1 {
    font-size: 1rem;
  }
}
