.diagramContainer {
  padding: 1rem;
  max-width: 70rem;
  margin: auto;
  text-align: center;
  background-color: white;
}

.diagramContainer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 4rem auto;
  padding: 6rem 1rem;
  background: linear-gradient(270deg, #ff7eb3, #ff758c, #7afcff, #feff9c);
  background-size: 800% 800%;
  animation: gradientBG 12s ease infinite;
  color: #fff;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.diagramButton {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.diagramButton button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ddd;
  color: #333;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s;
}

.diagramButton button:hover {
  background-color: #ccc;
}

.diagramButton button.active {
  background: linear-gradient(270deg, #ff7eb3, #ff758c, #7afcff, #feff9c);
  background-size: 800% 800%;
  color: #fff;
  animation: gradientBG 12s ease infinite;
}

.diagramImage {
  width: inherit;
  overflow: auto;
}
