.boton {
  padding: 0.5rem 1rem;
  background-color: #f97316;
  color: white;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.boton:hover {
  background-color: #ea580c;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.boton:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
