.layoutContainer {
  min-height: 100vh;
}

.layoutBackground {
  display: flex;
}

.mainWrapper {
  width: 100%;
  padding-left: 12rem;
}

@media (max-width: 600px) {
  .mainWrapper {
    padding-left: 0;
  }
}
